* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	width: 100vw;
	background-color: #2364f3;
	font-family: Arial, Helvetica, sans-serif;

	display: flex;
	align-items: center;
	justify-content: center;

	padding: 0.5rem;
}

.container {
	max-width: 449px;
	background-color: #fff;
	border-radius: 0.5rem;
	padding: 2rem;

	box-shadow: 0 1px 5px black;
}

h2 {
	font-size: 2rem;
}

.input_section {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;

	width: 100%;
}

input,
button {
	outline: none;
	border: 2px solid gray;
	font-size: 1.3rem;
	margin: 1rem 0;
	padding: 0.5rem;

	transition: 0.3s ease-in-out;
}

input:focus,
input:hover {
	border: 2px solid dodgerblue;
}

button {
	cursor: pointer;
	background-color: dodgerblue;
	border: 2px solid dodgerblue;
	color: white;
}
